$transparent-black: rgba(black,0.08);
$black-shadow: rgba(black,0.4);
$white-shadow: rgba(white, 0.7);

$layout_h1_color: #999999;

$layout_red: #B22E48;
$layout_bg: #2E2E2E;
$layout_text_color: #BDBAB8;

$separator-color: #999999;

$base-border-radius: 4px;

$footer-font-size: 14px;
$footer-line-height: 15px;